
@{
    ViewData["Title"] = @SharedLocalizer["Department"];
}
@model IEnumerable<DepartmentVM>
@section bootstrapSelect {
    <link rel="stylesheet" href="~/plugins/bootstrap-select/css/bootstrap-select.min.css"/>
}


<style>
    th{
        text-align:center;
    }
</style>
<br />
<br />

<div class="block-header">
    <h2>@SharedLocalizer["Department"]</h2>
</div>
<a asp-action="create" class="btn btn-success" asp-controller="department">@SharedLocalizer["CNE"]</a>
<br />
<br />
<table class=" table table-hover table-striped table-bordered text-center ">
    <thead>
        <th>@SharedLocalizer["Id"] </th>
        <th>@SharedLocalizer["Name"]</th>
        <th>@SharedLocalizer["DptC"]</th>
        <th>@SharedLocalizer["Deatails"]</th>
        <th>@SharedLocalizer["Update"]</th>
        <th>@SharedLocalizer["Delete"]</th>
    </thead>
    <tbody>
          @foreach (var item in Model)
            {   
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Code
                    </td>
                    <td>
                        <a asp-action="details"  asp-controller="department" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    </td> 
                    <td>
                        <a asp-action="update"  asp-controller="department" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                    </td>
                    <td>
                        <a asp-action="delete"  asp-controller="department" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>

            }
    </tbody>
</table>